*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
#emptyCart{
    max-width: 400px ;
    margin: 60px auto;
}
#emptyCart>img{
    width: 100%;
}
#emptyCart>h1{
    text-align: center;
    margin: 15px 0px;
}
#emptyCart>p{
    text-align: center;
    color: rgb(124, 124, 124);
    margin: 10px 0px
}
#emptyCart>div{
    width: 170px;
    margin: 10px auto;
}
#emptyCart>div>button{
    width: 100%;
    padding: 8px 2px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border: 1px solid #333;
    cursor: pointer;
}


#nonEmptyCart{
    display: none;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.1rem;
}
#nonEmptyCart>div:nth-child(1){
    background-color: #333;
    color: white;
    width: 30%;
    height: 100vh;
    padding-top: 50px;
    padding: 50px 40px;
}
#nonEmptyCart>div:nth-child(1)>button{
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}
#nonEmptyCart>div:nth-child(1)>div:nth-child(1)>div{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
#nonEmptyCart>div:nth-child(1)>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
#nonEmptyCart>div:nth-child(1)>div:nth-child(2)>input{
    text-align: center;
    padding: 5px 0px;
}
#nonEmptyCart>div:nth-child(1)>div:nth-child(2)>p{
    cursor: pointer;
}
#nonEmptyCart>div:nth-child(1)>div:nth-child(3)>select{
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}
#nonEmptyCart>div:nth-child(1)>div:nth-child(4)>button{
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    margin: 20px 0px;
}


#nonEmptyCart>div:nth-child(2){
    width: 70%;
    display: grid;
    margin: 25px 30px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
#nonEmptyCart>div:nth-child(2)>div{
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: transform .1s ease-in-out;
}
#nonEmptyCart>div:nth-child(2)>div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .8s ease-in-out;
    transform: scale(1.1);
}
#nonEmptyCart>div:nth-child(2)>div>p{
    color: #818181;
}
#nonEmptyCart>div:nth-child(2)>div>p:nth-child(3){
    color: #000000;
    font-size: 1.1rem;
}
#nonEmptyCart>div:nth-child(2)>div>button{
    font-size: 1.1rem;
    padding: 5px 0px;
    width: 100%;
    background-color: #333;
    color: white;
}
#nonEmptyCart>div:nth-child(2)>div>button:hover{
    background-color: rgb(94, 94, 94);
    cursor: pointer;
}
#nonEmptyCart>div:nth-child(2)>div>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nonEmptyCart>div:nth-child(2)>div>div>img{
    height: 200px;
}