@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@500&family=Ubuntu&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#navbar{
    margin: 20px 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#navbar>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar>div>p{
    margin: 10px 20px;
    cursor: pointer;
}
.logo{
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    color: #333;
    font-size: 1.4rem;
}
#belownavbar{
    background-color: #333;
    height: 25px;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search>input{
    margin: 10px 0px;
    width: 50%;
    font-size: 1.1rem;
    text-align: center;
    padding: 5px 0px;
}
#home{
    display: block;
}
#home>div:nth-child(1)>div:nth-child(1){
    background-image: url("/img/background.jpg");
    background-color: #cccccc;
   /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home p{
    color: rgb(103, 103, 103);
}
#home button{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#home>div:nth-child(1)>div:nth-child(2){
    font-size: 1.9rem;
  color: #333;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
#home>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
#home>div:nth-child(2)>div:nth-child(1){
    width: 50%;
    color: #454545;
    background-color: #cccccc;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home>div:nth-child(2)>div:nth-child(2){
    width: 50%;
    background-color: #454545;
    color: #cccccc;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#products{
    display: none;
    justify-content: center;
    align-items: flex-start;
}
#products>div:nth-child(1){
    background-color: #333;
    color: white;
    width: 25%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}
#products>div:nth-child(1)>div{
    margin: 20px auto;
    width: 70%;
}
#products>div:nth-child(1)>div>div{
    margin-left: 20px;
}
#products>div:nth-child(1)>div>div>div{
    margin: 10px 0px;
    font-size: 1.1rem;
    cursor: pointer;
}
#listPrice>div>input{
    width: 50%;
}
#products>div:nth-child(2){
    width: 75%;
}
#resultProducts{
    display: grid;
    margin: 25px 30px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
#resultProducts>div{
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: transform .1s ease-in-out;
}
#resultProducts>div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .8s ease-in-out;
    transform: scale(1.1);
}
#resultProducts>div>p{
    color: #818181;
}
#resultProducts>div>p:nth-child(3){
    color: #000000;
    font-size: 1.1rem;
}
#resultProducts>div>button{
    font-size: 1.1rem;
    padding: 5px 0px;
    width: 100%;
    background-color: #333;
    color: white;
}
#resultProducts>div>button:hover{
    background-color: rgb(94, 94, 94);
    cursor: pointer;
}
#resultProducts>div>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#resultProducts>div>div>img{
    height: 200px;
}
#address{
    display: none;
    justify-content: center;
    align-items: flex-start;
}
#address>div:nth-child(1){
    background-color: #333;
    color: white;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#address>div:nth-child(1)>form{
    width: 80%;
    margin: 30px auto;
}
#address>div:nth-child(1)>form>p{
    margin: 15px 0px;
    text-align: center;
    width: 100%;
}
#address>div:nth-child(1)>form>input{
    margin: 10px 0px;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
}
#address>div:nth-child(2){
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
#address>div:nth-child(2)>div{
    margin: 10px;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#address>div:nth-child(2)>div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#address>div:nth-child(2)>div>h3,p{
    margin: 5px 0px 5px 10px;
}
#address>div:nth-child(2)>div>div{
    width: 100%;
    margin: auto;
}
#address>div:nth-child(2)>div>div>button{
    font-size: 1.1rem;
    padding: 5px 0px;
    margin: 10px 0px 0px 0px ;
    width: 100%;
    background-color: #333;
    color: white;
    cursor: pointer;
}


#orders{
    display: none;
}

#orders>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid #333;
    /* border-radius: 10px; */
    margin: 20px 30px;
}
#orders>div:hover{
    border: 2px solid rgb(178, 73, 73);
}
#orders>div>div{
    margin: 15px;
}





